<html>

    <h1>OK Plantilla de CREATE:</h1>
    <form action="/save" method ="POST">
        <label> Usuario</label>
        <input id="user" name="user">
        <label> Rol</label>
        <select id="rol" name="rol">
            <option value="admin" selected>Admin</option>
            <option value="demo onboarding" >Demo Onboarding</option>
        </select>
        <button type=submit>Guardar</button>
        <a href="/">Cancelar</a>
    </form>
    </html>